header{
    margin: 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: CornflowerBlue;
    padding: 20px;
}

header .menu_opciones{
    display: flex;
    flex: row;
    justify-content: flex-end;
    background-color: CornflowerBlue;
}

a {
    margin: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

a ::after{
    color: white;
}

.contactos {
    display: flex;
    
}