*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

header{
    margin: 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006241;
    padding: 20px;
}

header .menu_opciones{
    display: flex;
    flex: row;
    justify-content: flex-end;
    background-color: #006241;
}

.marcador {
    font-weight: bolder;
    text-decoration: underline; 
}

header img {
    width: 55px;
    height: 55px;
}

a {
    margin: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

a ::after{
    color: white;
}

a:hover{
    font-weight: bolder;
}

.contactos {
    display: flex;
    
}

.companias {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultado {
    border-radius: 25px;
    padding: 15px;
    border:#006241 solid 1px;
}

.resultado .titulos {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
}