header{
    margin: 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006241;
    padding: 20px;
}

header .menu_opciones{
    display: flex;
    flex: row;
    justify-content: flex-end;
    background-color: #006241;
}

header img {
    width: 55px;
    height: 55px;
}

a {
    margin: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

a ::after{
    color: white;
}

a:hover{
    font-weight: bolder;
}

.contactos {
    display: flex;
    
}

.flexar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexarRow{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}