*{
    font-family: Arial, Helvetica, sans-serif;
}

.ocultar{
    display: none;
}


header{
    margin: 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006241;
    padding: 20px;
}

.marcador {
    font-weight: bolder;
    text-decoration: underline; 
}

header .menu_opciones{
    display: flex;
    flex: row;
    justify-content: flex-end;
    background-color: #006241;
}

header img {
    width: 55px;
    height: 55px;
    border: 2px solid #EEECE0;
    border-radius: 35px;
}

a {
    margin: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
}

a ::after{
    color: white;
}

a:hover{
    font-weight: bolder;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}
  
/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}
  
/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
  
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
  
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}
  
/* Hide the nested list */
.nested {
    display: none;
}
  
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
} 

button, .button{
    margin: 10px;
    background-color: #aea985;
    margin: 15px; 
    border-radius: 25px;
    border-color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.flexar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/*
form {
    margin: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form .form, form label, form select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    
    
}

form select {
    border-radius: 25px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form input{
    margin: 15px; 
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    align-items: center;
    justify-content: center;
    text-align: center;
}*/

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    justify-content: center;
}

form input{
   margin: 15px; 
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    justify-content: center;
}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    color: #523629;
    background-color: #EEECE0;
    height: 50px;
    padding: 25px;
    margin: auto;
    
}

.back {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.alto{
    height: 300px;
}

footer{
    padding: 10px;
    padding-left: 50px;
    background-color: #006241;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

a .menuAbajo {
   
    margin: 5px;
    padding: 3px;
    color: white;
    text-decoration: none;

}

footer p {
    color: lightgrey;
    margin: 25px;
}


@media screen and (min-width: 600px) and (max-width:699px) {



    .alto{
        height: 300px;
    }
    
    
    
}



@media screen and (min-width: 700px) {



.alto{
    height: 500px;
}



}


@media screen and (min-width: 1024px) {


    .alto{
        height: 800px;
    }
    
    
}

@media screen and (min-width: 1080px) {


    .alto{
        height: 1400px;
    }
    
    
}