header{
    padding: 20px;
    background-color: #006241;
}


.ocultar{
    display: none;
}


header .menu_opciones{
    display: none;
}

header img {
    width: 55px;
    height: 55px;
    border: 2px solid #EEECE0;
    border-radius: 35px;
}

.login {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    height: 650px;
}

a {
    display: none;

}

a::after{
   display: none;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form input{
    margin: 15px; 
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

button, .button{
    margin: 10px;
    background-color: #aea985;
    margin: 15px; 
    border-radius: 25px;
    border-color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    color: #523629;
    background-color: #EEECE0;
    height: 50px;
    padding: 25px;
    margin: auto;
    text-align: center;
}

.back {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

footer{
    padding: 10px;
    padding-left: 50px;
    background-color: #006241;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

a .menuAbajo {
    display: none;
    margin: 5px;
    padding: 3px;
    color: white;
    text-decoration: none;

}

footer p {
    
    color: lightgrey;
    margin: 25px;
}

@media screen and (min-width: 800px) {

    form{

        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    form input{
       width: 255px;
    }

    a:hover{
        font-weight: bolder;
    }
}