*{
    font-family: Arial, Helvetica, sans-serif;
}

.ocultar{
    display: none;
}

header{
    margin: 1 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006241;
    padding: 20px;
}

header .menu_opciones{
    display: flex;
    flex: row;
    justify-content: flex-end;
    background-color: #006241;
}

a {
    margin: 5px;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    color: white;
}

a::after{
    color: white;
}

a:hover{
    font-weight: bolder;
}

header img {
    width: 55px;
    height: 55px;
    border: 2px solid #EEECE0;
    border-radius: 35px;
}

button, .button{
    margin: 10px;
    background-color: #aea985;
    margin: 15px; 
    border-radius: 25px;
    border-color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: white;
}

.center {
    margin: auto;
    width: 80%;
    height: 500px;
    padding: 10px;
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    justify-content: center;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    justify-content: center;
}

form input{
   margin: 15px; 
    width: 250px;
    height: auto;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    justify-content: center;
}

.marcador {
    font-weight: bolder;
    text-decoration: underline; 
}

.crear {
    width: 150px;
}

.title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif ;
    color: #523629;
    background-color: #EEECE0;
    height: 50px;
    padding: 25px;
    margin: auto;
}

.alto{
    height: 500px;
}

.back {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.resultado {
    border-radius: 25px;
    padding: 15px;
    border:#006241 solid 3px;
    width: 800px;
}

.resultado .titulos {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto auto auto auto;
}

.resultadoApi{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto auto auto auto;

}

.blanco{
    height: 300px;
}

.center {
    margin: auto;
    height: auto;
    width: 80%;
    padding: 10px;
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

footer{
    padding: 10px;
    padding-left: 50px;
    background-color: #006241;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

a .menuAbajo {
   
    margin: 5px;
    padding: 3px;
    color: white;
    text-decoration: none;

}

footer p {
    color: lightgrey;
    margin: 25px;
}


@media screen and (min-width: 600px) and (max-width:699px) {



    .alto{
        height: 400px;
    }
    
    
    
}



@media screen and (min-width: 700px) {



.alto{
    height: 800px;
}



}


@media screen and (min-width: 1024px) {


    .alto{
        height: 1000px;
    }
    
    
}

@media screen and (min-width: 1080px ) {


    .alto{
        height: 1400px;
    }
    
    
}